*.suo
*.user
_ReSharper.*
bin
obj
packages
/BlinkyBlinky/.vs/BlinkyBlinky/v15/Server/sqlite3/db.lock
/BlinkyBlinky/.vs/BlinkyBlinky/v15/Server/sqlite3/storage.ide
/BlinkyBlinky/.vs/BlinkyBlinky/v15/Server/sqlite3/storage.ide-shm
/BlinkyBlinky/.vs/BlinkyBlinky/v15/Server/sqlite3/storage.ide-wal
